<main>
  <h3>Conclusions</h3>
  <p>
    The calculated ramp rates do show evidence of a duck curve when simulated solar is added to the
    measured electricity demand. For all three months with data, there is a clear ramp down in the morning and a ramp up
    in the afternoon/evening. This is true whether looking at the average, median, or extreme ramp rate. This is not
    the case, however, when the solar generation is not added.
  </p>
  <h5>Observations</h5>
  <p>
    I was surprised how much of an impact such a small simulated solar installation had on the demand profile. The
    maximum generation was 2.35 kW, yet, on average, much of this generation would have been in excess of demand
    (and returned to the grid, stored, or curtailed). This suggests that, without net metering or similar compensation,
    a home battery would be
    a necessity for solar to be viable. Calculating potential curtailment and analyzing cost and sizing of needed
    storage based on my data could be a subsequent project.
  </p>
  <p>
    The duck curve was seen even though I work from home and take several actions to take advantage of time-of-use
    pricing: I make a point of doing laundry mid-day, schedule vehicle charging for early morning hours, and
    often turn off the water heater until after the peak. The water heater spikes at 10:00 and 21:00 are noticeable
    on the graph if the solar is toggled off.
  </p>
  <h5>Beyond the duck curve</h5>
  <p>
    The duck curve concept is mainly about potentially disruptive ramp rates. Distributed solar can bring
    other operational challenges, as well:
  </p>
  <ul>
    <li>The need for day-ahead or intraday weather forecasting</li>
    <li>Rapid variability of generation due to moving clouds</li>
    <li>Imbalances on distribution grids due to areas of negative demand</li>
    <li>A potential lack of grid inertia</li>
    <li>Resource adequacy - particularly for winter peaks</li>
    <li>Cost-effectively incentivizing and coordinating distributed and small-scale battery storage and
      demand response, where these provide operational benefits or savings</li>
  </ul>
  <h5>Links</h5>
  <ul>
    <li><a href="https://www.eia.gov/beta/electricity/gridmonitor/dashboard/electric_overview/balancing_authority/DUK" target="_blank">Duke Energy Carolinas generation data <img src="assets/external.png" class="external"></a></li>
    <li><a href="https://www.greentechmedia.com/articles/read/renewables-integration-in-the-midwest-is-a-whole-other-animal" target="_blank">Forget the Duck Curve. Renewables Integration in the Midwest Is a Whole Other Animal <img src="assets/external.png" class="external"></a></li>
    <li><a href="https://www.utilitydive.com/news/to-build-a-zero-carbon-grid-we-first-need-to-model-it-accurately/592704/" target="_blank">To build a zero-carbon grid, we first need to model it accurately <img src="assets/external.png" class="external"></a></li>
    <li><a href="https://www.greentechmedia.com/articles/read/form-energys-first-project-pushes-long-duration-storage-to-new-heights-150-hour-duration" target="_blank">Long Duration Breakthrough? Form Energy’s First Project Tries Pushing Storage to 150 Hours <img src="assets/external.png" class="external"></a></li>
  </ul>
</main>
